In [120]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [121]:
df = pd.read_csv("Excels\\diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [122]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [123]:
df.shape

(768, 9)

In [124]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [125]:
df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [126]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [127]:
X = df.drop(['Outcome'],axis='columns')
y = df['Outcome']

In [128]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores = cross_val_score(DecisionTreeClassifier(),X,y,cv=10)
scores.mean()

0.708321941216678

In [129]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_train , X_test , y_train, y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=10,stratify=y)

In [130]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
            base_estimator=DecisionTreeClassifier(),
            n_estimators=100, # this is what does the resampling with replacement
            max_samples=0.8, # use 80% of my samples
            oob_score=True, # out of bag
            random_state=0
)

bag_model.fit(X_train,y_train)
bag_model.oob_score_

C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.760586319218241

In [131]:
bag_model.score(X_test,y_test) # better than scores.mean() which was 70%

0.8051948051948052

In [132]:
bag_model = BaggingClassifier(
            base_estimator=DecisionTreeClassifier(),
            n_estimators=100, # this is what does the resampling with replacement
            max_samples=0.8, # use 80% of my samples
            oob_score=True, # out of bag
            random_state=0
)

scores = cross_val_score(bag_model,X,y,cv=10)
scores.mean()

C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.7616541353383459

In [133]:
from sklearn.ensemble import RandomForestClassifier

scores = cross_val_score(RandomForestClassifier(),X,y,cv=10)
scores.mean()

0.7577580314422419

In [134]:
#---------------Excerise-----------------#

In [135]:
# Load heart disease dataset in pandas dataframe
# Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3
# Convert text columns to numbers using label encoding and one hot encoding
# Apply scaling
# Build a classification model using support vector machine. 
# Use standalone model as well as Bagging model and check if you see any difference in the performance.
# Now use decision tree classifier. 
# Use standalone model as well as Bagging and check if you notice any difference in performance
# Comparing performance of svm and decision tree classifier figure out where it makes most sense to use bagging and why. 
# Use internet to figure out in what conditions bagging works the best.

In [136]:
df = pd.read_csv("Excels\\heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [137]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [138]:
df.shape

(918, 12)

In [139]:
df['z-score'] = (df['Cholesterol'] - df['Cholesterol'].mean())/df['Cholesterol'].std()
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z-score
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736

In [140]:
df[ (df['z-score'] > 3) | (df['z-score'] < -3) ]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z-score
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1,3.018723
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1,3.695238
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0,3.338696

In [141]:
df = df[ (df['z-score'] < 3) & (df['z-score'] > -3) ]
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z-score
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736

In [142]:
df[df['Oldpeak'] > df['Oldpeak'].mean()+3*df['Oldpeak'].std()]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z-score
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1,0.294379
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0,0.650921
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1,0.166390
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1,0.906900
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1,-0.318141
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1,1.089741

In [143]:
df = df[df['Oldpeak'] <= df['Oldpeak'].mean()+3*df['Oldpeak'].std()]

In [144]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z-score
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0,0.385800
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1,-0.007310
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1,-1.817444
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1,-1.817444
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1,0.806337
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1,0.815479
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1,0.769768

In [145]:
df = df[df.RestingBP<=(df.RestingBP.mean()+3*df.RestingBP.std())]

In [146]:
df.shape

(902, 13)

In [147]:
df.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z-score
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0,0.824621
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1,-0.171867
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0,0.769768
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1,0.138964
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0,-0.034736

In [148]:
dummies = pd.get_dummies(df,drop_first=True)
dummies

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z-score,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,0,0.824621,True,True,False,False
1,49,160,180,0,1,156,0,1.0,2,1,-0.171867,False,False,True,False
2,37,130,283,0,2,98,0,0.0,3,0,0.769768,True,True,False,False
3,48,138,214,0,1,108,1,1.5,2,1,0.138964,False,False,False,False
4,54,150,195,0,1,122,0,0.0,3,0,-0.034736,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1.2,2,1,0.596068,True,False,False,True
914,68,144,193,1,1,141,0,3.4,2,1,-0.053020,True,False,False,False
915,57,130,131,0,1,115,1,1.2,2,1,-0.619830,True,False,False,False
916,57,130,236,0,3,174,0,0.0,2,1,0.340090,False,True,False,False
917,38,138,175,0,1,173,0,0.0,3,0,-0.217578,True,False,True,False

In [149]:
df = dummies
df

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,z-score,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,0,0.824621,True,True,False,False
1,49,160,180,0,1,156,0,1.0,2,1,-0.171867,False,False,True,False
2,37,130,283,0,2,98,0,0.0,3,0,0.769768,True,True,False,False
3,48,138,214,0,1,108,1,1.5,2,1,0.138964,False,False,False,False
4,54,150,195,0,1,122,0,0.0,3,0,-0.034736,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1.2,2,1,0.596068,True,False,False,True
914,68,144,193,1,1,141,0,3.4,2,1,-0.053020,True,False,False,False
915,57,130,131,0,1,115,1,1.2,2,1,-0.619830,True,False,False,False
916,57,130,236,0,3,174,0,0.0,2,1,0.340090,False,True,False,False
917,38,138,175,0,1,173,0,0.0,3,0,-0.217578,True,False,True,False

In [156]:
df = df.drop(['z-score'],axis='columns')

In [157]:
df.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,3,0,True,True,False,False
1,49,160,180,0,1,156,0,1.0,2,1,False,False,True,False
2,37,130,283,0,2,98,0,0.0,3,0,True,True,False,False
3,48,138,214,0,1,108,1,1.5,2,1,False,False,False,False
4,54,150,195,0,1,122,0,0.0,3,0,True,False,True,False

In [158]:
X = df.drop(['HeartDisease'],axis='columns')
y = df['HeartDisease']
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [159]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

X_train , X_test , y_train , y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=10)
model = SVC().fit(X_train,y_train)
model.score(X_test,y_test)

0.861878453038674

In [163]:
scores = cross_val_score(SVC(),X,y,cv=5)
scores.mean()

0.6906445672191528

In [164]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
        base_estimator=SVC(), 
        n_estimators=100, 
        max_samples=0.8, 
        random_state=0
        )

bagging_model.fit(X_train,y_train)
bagging_model.score(X_test,y_test)

C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_bagging.py:789: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_bagging.py:795: RuntimeWarning: invalid value encountered in divide
  oob_decision_function = predictions / predictions.sum(axis=1)[:, np.newaxis]

0.8453038674033149

In [165]:
scores = cross_val_score(bag_model,X,y,cv=10)
scores.mean() # Bagging model works best with models with high variance and unstable , here SVC without bag is better
              # try with DecisionTreeClassifier

C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.7074603174603175

In [166]:
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(random_state=0),X,y,cv=5)
scores.mean()

0.7193984039287907

In [167]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(random_state=0), 
    n_estimators=100, 
    max_samples=0.9, 
    oob_score=True,
    random_state=0
)

scores = cross_val_score(bag_model, X, y, cv=5)
scores.mean() #

C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\musta\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.8037016574585636

In [162]:
# Use standalone model as well as Bagging model and check if you see any difference in the performance.
# Now use decision tree classifier. 
# Use standalone model as well as Bagging and check if you notice any difference in performance
# Comparing performance of svm and decision tree classifier figure out where it makes most sense to use bagging and why. 
# Use internet to figure out in what conditions bagging works the best.

In [169]:
from sklearn.ensemble import RandomForestClassifier

scores = cross_val_score(RandomForestClassifier(), X, y, cv=5) # random forst itself is a bagging feature
scores.mean() # gave best model

0.8181522406384285